GNUmakefile*
*vcxproj*
*.sln
*.suo
lib
*.swp
*.exp
*sdf
*.lib
*.so
*.so.*
*.o
.rvmrc
.shobj
.depend*
ut_depth
ut_order_book
ut_bbo_order_book
ut_all_or_none
ut_immediate_or_cancel
pt_order_book
Debug
Release
ipch