GNUmakefile*
Makefile*
*vcxproj*
*.sln
*.suo
*.pdb
lib
*.swp
*.exp
*sdf
*.ilk
*.lib
*.a
*.so
*.so.*
*.o
.rvmrc
.shobj
.depend*
*.exe
ut_depth
ut_order_book
ut_bbo_order_book
ut_all_or_none
ut_immediate_or_cancel
pt_order_book
Debug
Release
ipch
